.form-floating > label {
  transform: translateY(0.9rem) translateX(1.8rem) !important;
  color: #fff;
  height: auto;
  padding: 2px;
  background-color: transparent;
}

.form-control
{
    position: relative;
    margin-bottom: 15px!important;
}

.form-floating > input:focus ~ label {
  transform: translateY(-0.8rem) translateX(0.9rem) !important;
  padding: 2px;
  background-color: #353535;
  font-size: 13px;
}

.error-message
{
    position: absolute;
    bottom: -10px;
    color: #e13232;
    left: 20px;
    font-size: 14px;
}