:root {
  --background-color-one: #232333;

  --border-color-one: #cbd5e1;

  --text-color-one: #ffffff;
}


body {
  background-color: var(--background-color-one);
  color: var(--text-color-one);

}

a {
  text-decoration: none;
  color: var(--text-color-one);
}

label{
  width: 100%;
  display: flex;
  font-size: 14px;
  margin: 10px;

}
input{
  width: 100%;
  display: flex;
  background-color: var(--background-color-one);
  border: 1px solid var(--border-color-one);
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color-one);
}

button{
  background-color: var(--background-color-one);
  color: var(--text-color-one);
  border: 1px solid var(--border-color-one);
  padding: 10px;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}