:root {
  --background-color-one: #232333;

  --border-color-one: #cbd5e1;

  --text-color-one: #ffffff;
}


body {
  background-color: var(--background-color-one);
  color: var(--text-color-one);

}

a {
  text-decoration: none;
  color: var(--text-color-one);
}